<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Messi, el jugador más valioso de la Copa América: Sus estadísticas</title> Titula al sitio web del navegador-->
  </head>
  <body>
    <!-- <h1>Messi, el jugador más valioso de la Copa América: Sus estadísticas</h1> Pone un título-->

    <!-- <h2>El astro argentino fue el jugador con mejores números generales contemplando las dos competiciones continentales</h2> Pone un subtítulo-->

<!-- <img src="https://images.daznservices.com/di/library/GOAL/8b/8e/lionel-messi-argentina-uruguay-fecha-2-grupo-a-copa-america-2021_srgvq23z9g3s1x5kubv0466ou.jpg?t=892621914&quality=100" alt=""> Rastrea una imágen global-->
<!-- <p> La Pulga fue el mejor jugador de la Albiceleste en el certamen por lo ofrecido en cancha en cada uno de los compromisos. Así lo entendieron los organizadores, que le entregaron la estatuilla pertinente. Además, fue goleador junto al colombiano Luis Díaz y las estadísticas lo respaldaron como el mejor jugador no solamente a nivel sudamericano sino intercontinental.</p>

<p>Los números que relevaron varias agencias de estadísticas apuntaron a Messi como el futbolista más valioso de la Copa América que se disputó en Brasil pero también trazaron una comparativa con la Eurocopa que se celebró en Europa. Leo lideró el ranking de asistencias (5 en total contra las 4 del suizo Steven Zuber), goles de tiro libre (2 contra el único de la Eurocopa en los pies del danés Mikkel Damsgaard), contribución en goles (9 contra los 6 del portugués Cristiano Ronaldo), oportunidades creadas (21 al igual que el brasileño Neymar contra las 14 del italiano Marco Verratti), cantidad de remates (28 contra los 21 del español Dani Olmo), cantidad de remates al arco (11 contra los 9 del checo Patrik Shick y el español Álvaro Morata) y goles esperados agregados, aspecto que define la efectividad ante la dificultad de la chance de gol, (1.35 contra los 1.25 del suizo Xherdan Shaqiri).</p>

<p>Messi fue apenas superado en dos aspectos: la cantidad de goles y la cantidad de pases realizados en el tercio final de la cancha. El portugués Cristiano Ronaldo y el checo Patrik Schick, con 5 conquistas, terminaron arriba de Messi, que anotó 4. Y el español Pedri ensayó 177 conexiones con sus compañeros en el tercer tramo del campo contra las 133 del argentino. Además, hubo un ítem en el que terminó igualado con el italiano Lorenzo Insigne y el francés Paul Pogba, ya que tanto los europeos como Messi completaron 9 pases entre líneas.</p>

<p>Adjuntamos el próximo link para complementar el recorrido de Messi con la selección para obtener el galardón continental:</p> Compone todos los párrafos, el cuerpo del artículo-->
<!-- <a href="file:///C:/Users/baiqu/Desktop/Dani/Programaci%C3%B3n/Potrero%20Digital%20United%20Way/Tarea%201/potreroDigital_ejercicio1.a_Jaime_Daniel.html"> Argentina, campeón de la Copa América luego de 28 años</a> Link que refiere al otro archivo HTML-->
  </body>
</html>
